<!-- on the right is the child output, that we catch from the child component -->
<!-- This output is then used in a function defined in the parent. -->
<app-header (featureSelected)="onNavigate($event)"></app-header>
<!-- <app-header (featureSelected)="loadedFeature = $event"></app-header> -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>

      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list> -->

      <!-- <app-recipes></app-recipes>
      <app-shopping-list></app-shopping-list> -->
    </div>
  </div>

  <!-- If recipes clicked show app-recipes. If shopping list clicked show shopping-list -->
</div>
